@use "../../scss/abstracts/" as *;

.li{
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid $color-brand-1;
    padding: 1rem;

    h4{
        margin-bottom: 1rem;
        @include text-style-header-4
    }

    p{  
        width: 6rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        color: $color-brand-1;
        border: 1px solid $color-brand-1;
        @include text-style-paragraph-2 
    }
}